body {
  background: #fdfdfc;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.ml-4 {
  margin-left: 12px;
}

.uploads {
  width: 200px;
  height: 186px;
  float: left;
}

#main {
  position: absolute;
  width: 207px;
  height: 200px;
  border: 2px dashed #ccc;
  border-radius: 10px;
}

#main p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 170px;
  color: #000;
  font-family: Arial;
}

#main input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}

#main button {
  margin: 0;
  color: #000;
  background: #16a085;
  border: none;
  width: 508px;
  height: 35px;
  margin-top: -20px;
  margin-left: -4px;
  border-radius: 4px;
  border-bottom: 4px solid #117a60;
  transition: all 0.2s ease;
  outline: none;
}

#main button:hover {
  background: #149174;
  color: #0c5645;
}

#main button:active {
  border: 0;
}

.image-order {
  position: relative;
  align-items: center;
  justify-content: center;
}

.delete-icon {
  cursor: pointer;
}

.wrapper {
  margin: 5% auto;
  max-width: 1100px;
  align-items: center;
  justify-content: center;
  padding: 10px;

}

div.gallery {
  border: 3px solid #ddd;
  float: left;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.gallery-image {
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

div.gallery:hover .gallery-image {
  opacity: 0.3;
}

div.gallery:hover .check-box-section {
  opacity: 1;

}

div.gallery img {
  width: 100%;
  height: 100%;
  border-radius: 10px
}

div.desc {
  padding: 15px;
  text-align: center;
}

.error-msg {
  color: salmon;
}

.check-box-section {
  position: absolute;
  top: 10px;
  opacity: 0;
  left: 10px;
  transition: .5s ease;
  transform: translate(0%, 0%);
  -ms-transform: translate(-50%, -50%);
}

.check-box-section>input {
  width: 20px;
  height: 20px;
}

.delete-button {
  font-size: 18px;
  font-weight: bold;
  color: red;
  cursor: pointer;
}

.multi_items_select_check_box {
  width: 25px;
  accent-color: green;
  height: 25px;
}

.opaciti-zero-3 {
  opacity: 0.3;
}

.opaciti-zero-1 {
  opacity: 1 !important;
}


.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  align-items: start;
  justify-items: center;
  padding: 10px;
}

.grid div {
  width: 100%;
  height: 200px;
}

.grid div:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
  height: 415px;
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
  }

  .grid div:nth-child(1) {
    width: 100%;
    grid-column: span 2;
    grid-row: span 2;
    height: 415px;
  }

  .grid div {
    width: 100%;
    height: 200px;
  }

  #main {
    position: absolute;
    width: 235px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    margin-top: 2px;
  }
}

@media (max-width: 500px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
      padding: 10px;
  }

  .grid div:nth-child(1) {
    width: 90%;
    grid-column: span 1;
    grid-row: span 1;
    height: 200px;
  }

  .grid div {
    width: 60%;
    height: 150px;
  }

  #main {
    position: absolute;
    width: 55%;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    margin-top: 2px;
  }
}